{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".js"
  ],
  "include": [
    "**/*.js"
  ],
  "exclude": [
    "src/index.js",
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.js"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}